<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://unpkg.com/vue"></script>
</head>
<body>
<div id="test">
    x: <input type="text" v-model="x"/><br/>
    y: <input type="text" v-model="y"/><br/>
    덧셈 결과 : {{sum}}
</div>
</body>
<script type="text/javascript">
var vm = new Vue({
    el: '#test',
    data: {
        x: 0,
        y: 0,
        sum: 0
    },
    watch: {
        x: function (v) {
            console.log('## x 변경');
            var result = Number(v) + Number(this.y);
            if (isNaN(result)) this.sum = 0;
            else this.sum = result;
        },
        y: function (v) {
            console.log('## y 변경');
            this.y = v;
            var result = Number(this.x) + Number(v);
            if (isNaN(result)) this.sum = 0;
            else this.sum = result;
        }
    }
});
</script>
</html>